@model MvcOnlineTicariOtomasyon.Models.Entities.SatisHareket

@{
    ViewBag.Title = "SatisYap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Satış Yap</h2>
<br />
<form method="post" class="form-group">
    @Html.LabelFor(x => x.UrunId)
    <input type="text" name="UrunId" value="@ViewBag.UrunID" class="form-control" readonly />
    <br />
    @Html.LabelFor(x => x.PersonelId)
    @Html.DropDownListFor(x => x.PersonelId, (List<SelectListItem>)ViewBag.PersonelList, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.CariId)
    @Html.TextBoxFor(x => x.CariId, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    <input type="number" class="form-control" name="Adet" max="10" min="0" placeholder="Adet Girin" id="adet" onchange="calculate();" />
    <br />
    @Html.LabelFor(x => x.Fiyat)
    <input type="text" name="Fiyat" value="@ViewBag.UrunFiyat" class="form-control" id="fiyat" onkeyup="calculate();" />
    <br />
    @Html.LabelFor(x => x.ToplamTutar)
    <input type="text" name="ToplamTutar" value="0" class="form-control" id="toplamtutar" readonly />
    <br />
    <button class="btn btn-info">Satış Yap</button>
</form>

<script>
    function calculate() {
        var adet = document.getElementById('adet').value;
        var fiyat = document.getElementById('fiyat').value;
        var toplamtutar = parseInt(adet) * parseInt(fiyat);
        if (!isNaN(toplamtutar)) {
            document.getElementById('toplamtutar').value = toplamtutar;
        }
    }
</script>