@model MvcOnlineTicariOtomasyon.Models.Entities.Urun

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link rel="stylesheet" href="~/mazer-1.0.0/dist/assets/vendors/simple-datatables/style.css">

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Ürün Güncelle</h3>
                <p class="text-subtitle text-muted">Bu sayfadan ürün bilgilerini güncelleyebilirsiniz.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Dashboard/Index/">Personel Paneli</a></li>
                        <li class="breadcrumb-item"><a href="/Urun/Index/">Ürün İşlemleri</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Ürün Güncelle</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section>
        <div class="card">
            <div class="card-header" style="padding-bottom:0">
                <h4 class="card-title">Ürün Güncelleme Formu</h4>
            </div>
            <div class="card-content">
                <div class="card-body">
                    <form class="form" method="post" action="/Urun/UrunGuncelle">
                        <!-- Ürün ID (Gizli) -->
                        <input type="hidden" name="UrunId" value="@Model.UrunId" />

                        <div class="row">
                            <!-- Ürün Adı -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="UrunAd">Ürün Adı</label>
                                    <div class="position-relative">
                                        <input type="text" id="UrunAd" name="UrunAd" class="form-control" placeholder="Ürün adını yazın" value="@Model.UrunAd" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-textarea-t"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Marka -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="Marka">Marka</label>
                                    <div class="position-relative">
                                        <input type="text" id="Marka" name="Marka" class="form-control" placeholder="Ürünün markasını yazın" value="@Model.Marka" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-text-paragraph"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Stok -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="Stok">Stok</label>
                                    <div class="position-relative">
                                        <input type="text" id="Stok" name="Stok" class="form-control" placeholder="Stok bilgisini girin" value="@Model.Stok" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-sort-numeric-up"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Alış Fiyatı -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="AlisFiyat">Alış Fiyatı</label>
                                    <div class="position-relative">
                                        <input type="text" id="AlisFiyat" name="AlisFiyat" class="form-control" placeholder="Alış fiyatını yazın" value="@Model.AlisFiyat" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-cash"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Satış Fiyatı -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="SatisFiyat">Satış Fiyatı</label>
                                    <div class="position-relative">
                                        <input type="text" id="SatisFiyat" name="SatisFiyat" class="form-control" placeholder="Satış fiyatını yazın" value="@Model.SatisFiyat" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-cash"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Kategori -->
                            <div class="col-md-6 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="KategoriId">Kategori</label>
                                    <div class="position-relative">
                                        <select id="KategoriId" name="KategoriId" class="form-control">
                                            <option value="" disabled selected>Ürünün ait olduğu kategoriyi seçin</option>
                                            @foreach (var category in (List<SelectListItem>)ViewBag.CategoryList)
                                            {
                                                <option value="@category.Value" @(Model.KategoriId == Convert.ToInt32(category.Value) ? "selected" : "")>
                                                    @category.Text
                                                </option>
                                            }
                                        </select>
                                        <div class="form-control-icon">
                                            <i class="bi bi-list"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Görsel -->
                            <div class="col-md-12 col-12">
                                <div class="form-group has-icon-left">
                                    <label for="UrunGorsel">Görsel</label>
                                    <div class="position-relative">
                                        <input type="text" id="UrunGorsel" name="UrunGorsel" class="form-control" placeholder="Görsel bağlantısını ekleyin" value="@Model.UrunGorsel" />
                                        <div class="form-control-icon">
                                            <i class="bi bi-image"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Butonlar -->
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">Güncelle</button>
                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Vazgeç</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>