@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<header class="mb-3">
    <a href="#" class="burger-btn d-block d-xl-none">
        <i class="bi bi-justify fs-3"></i>
    </a>
</header>

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Personel Paneli</h3>
                <p class="text-subtitle text-muted">Bu panel üzerinden personeller yetkileri dahilindeki tüm işlemleri gerçekleştirebilmektedir.</p>
            </div>
        </div>
    </div>

    <section class="section row">
        <div class="col-6">
            <div class="row">
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldBag"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Toplam Ürün Sayısı</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d2</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldUser1"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Toplam Personel Sayısı</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d3</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldArrow---Up"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">En Pahalı Ürün</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d8</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldArrow---Down"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">En Ucuz Ürün</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d9</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon blue">
                                        <i class="iconly-boldArrow---Up"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">En Çok Satan Ürün</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d13</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon green">
                                        <i class="iconly-boldWallet"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Kasadaki Toplam Tutar</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d14</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon red">
                                        <i class="iconly-boldWallet"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Bugünkü Satış Sayısı</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d15</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-body px-3 py-4-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="stats-icon purple">
                                        <i class="iconly-boldWallet"></i>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <h6 class="text-muted font-semibold">Bugünkü Kasa Tutarı</h6>
                                    <h6 class="font-extrabold mb-0">@ViewBag.d16</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12 card widget-todo">
                    <div class="card-header border-bottom d-flex justify-content-between align-items-center">
                        <h4 class="card-title d-flex m-0">
                            <i class="bx bx-check font-medium-5 pl-25 pr-75"></i>Departmanlara Göre Personel Sayılarımız
                        </h4>

                    </div>
                    <div class="card-body px-0 py-1">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td class="col-3">Müdür</td>
                                    <td class="col-6">
                                        <div class="progress progress-danger">
                                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="col-3 text-center">1</td>
                                </tr>
                                <tr>
                                    <td class="col-3">Muhasebe</td>
                                    <td class="col-6">
                                        <div class="progress progress-info">
                                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="col-3 text-center">3</td>
                                </tr>
                                <tr>
                                    <td class="col-3">Satın Alma</td>
                                    <td class="col-6">
                                        <div class="progress progress-success">
                                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="col-3 text-center">4</td>
                                </tr>
                                <tr>
                                    <td class="col-3">Satış Temsilcisi</td>
                                    <td class="col-6">
                                        <div class="progress progress-danger">
                                            <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                    <td class="col-3 text-center">1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="card-header">
                        <h4 class="m-0">Son Eklenen 2 Ürün</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Kategori</th>
                                        <th>Ürün Adı</th>
                                        <th>Marka</th>
                                        <th>Fiyat</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <p>@item.Kategori.KategoriAd</p>
                                            </td>
                                            <td>
                                                <p>@item.UrunAd</p>
                                            </td>
                                            <td>
                                                <p>@item.Marka</p>
                                            </td>
                                            <td>
                                                <p>@item.SatisFiyat.ToString("C", new System.Globalization.CultureInfo("tr-TR"))</p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
