@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<Mesaj>

@{
    ViewBag.Title = "GelenMesajlar";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}


<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Mesajlar</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">CARİ PANEL</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">MESAJLAR</a></li>
            <li class="breadcrumb-item active">GELEN KUTUSU</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <a href="/CariPanel/YeniMesaj/" class="btn btn-info w-100 mb-3" style="color:white">Yeni Mesaj Oluştur</a>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Klasörler</h5>
                <ul class="feeds">
                    <li onclick="location.href='/CariPanel/GelenMesajlar/'" style="cursor: pointer;">
                        <div class="bg-light-info"><i class="fa fa-inbox"></i></div> Gelen Kutusu <span class="badge bg-info float-right mt-2">@ViewBag.GelenMesajSayisi</span>
                    </li>
                    <li onclick="location.href='/CariPanel/GonderilenMesajlar/'" style="cursor: pointer;">
                        <div class="bg-light-info"><i class="fa fa-send"></i></div> Gönderilenler <span class="badge bg-info float-right mt-2">@ViewBag.GonderilenMesajSayisi</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="card col-9">
        <div class="card-body">
            <h3 class="card-title">Gelen Kutusu</h3>
            <div class="table-responsive table-striped">
                @if (Model != null && Model.Any())
                {
                    <table class="table">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="mailbox-name"><a href="/CariPanel/MesajDetay/@item.MesajId">@item.Gonderici</a></td>
                                <td class="mailbox-subject">
                                    <b>@item.Konu</b> - @item.Icerik.Substring(0, 20)
                                </td>
                                <td class="mailbox-attachment"></td>
                                <td class="mailbox-date">@item.Tarih.ToString("dd.MM/yyyy HH:mm")</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div class="alert alert-info text-center mt-4 py-3">
                        <h5>Gelen kutunuzda henüz bir mesaj yok. Yeni mesajlar geldiğinde burada görüntüleyebilirsiniz.</h5>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<script>
    $(function () {
        $('.checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
            } else {
                $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
            }
            $(this).data('clicks', !clicks)
        })
        $('.mailbox-star').click(function (e) {
            e.preventDefault()
            var $this = $(this).find('a > i')
            var glyph = $this.hasClass('glyphicon')
            var fa = $this.hasClass('fa')
            if (glyph) {
                $this.toggleClass('glyphicon-star')
                $this.toggleClass('glyphicon-star-empty')
            }
            if (fa) {
                $this.toggleClass('fa-star')
                $this.toggleClass('fa-star-o')
            }
        })
    })</script>
<script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>