@using MvcOnlineTicariOtomasyon.Models.Entities
@model List<FaturaKalem>

@{
    ViewBag.Title = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Fatura Kalemleri Sayfası</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        <a href="/Fatura/YeniKalem/" class="btn btn-primary">Yeni Kalem Girişi</a>
    </li>
</ol>
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FaturaKalemId</td>
            <td>@item.Aciklama</td>
            <td>@item.Miktar</td>
            <td>@item.BirimFiyat</td>
            <td>@item.Tutar</td>
        </tr>
    }
</table>
